* {
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: blueviolet;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navabr > p .navabar > ul {
    padding: 50px 150px;
}